// Styles for svg

.svg-text {
	stroke: $lines; 
	fill: $shark;
	stroke-miterlimit:10;
}

.stroke-5, .stroke1, .stroke2, .stroke3 {
	stroke: $lines;
}

.stroke-5 {
	stroke-width:0.5;
}

.stroke1 {
	stroke-width: 1px;
}

.stroke2 {
	stroke-width: 2px;
}

.stroke3 {
	stroke-width: 3px;
}

.stroke6 {
	stroke-width: 6px;
	stroke: $lines;
	fill: none;
}

.stroke7 {
	stroke-width: 2px;
	stroke: $lines;
	fill: none;
}

.no-fill {
	fill:none;	
}

.fill {
	fill: $shark;	
}

.tone-fill {
	fill: $shark;
}

.light-fill {
	fill: $white;
}

.medium-fill {
	//fill: darken($blue-white, 20%);
	fill: $shark;
}

.miterlimit {
	stroke-miterlimit: 10;
}

.cap-square {
	stroke-linecap: square;
}

.linejoin-round {
	stroke-linejoin: round;
}
